@charset "utf-8";
.box {
	background-color: rgba(255,255,255,0.21);
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	height: 600px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	border: 5px none rgba(255,255,255,1.00);
	margin-top: 1px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: center;
	
}


.header {
	background-color: rgba(255,255,255,0.00);
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	height: 40px;
	width: 700px;
	margin: auto;
	border: 5px none #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	font-size: 26px;
	font-family: Arial;
	text-align: center;
}

.image {
	background-image: url(../stuff/2000px-Analogue_clock_face.svg.png);
	height: 300px;
	width: 300px;
	margin-top: 300px;
	margin-right: auto;
	margin-left: auto;
}
.image {
	height: 200px;
	width: 200px;
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: 00px;
	margin-left: auto;
}
